* {
    font-family: "JetBrains Mono Nerd Font";
    /*font-family: "JetBrainsMono Nerd Font";*/
    font-weight: bold; 
    font-size: 15px;
}

window#waybar {
    background: black;
}


tooltip {
        background: #171717;
        color: #A1BDCE;
        font-size: 13px;
        border-radius: 7px;
       border: 2px solid #101a24;


    }
#workspaces{
background: rgba(23, 23, 23, 0.0);
    color: #888789;
    box-shadow: none;
	text-shadow: none;
    border-radius: 9px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
}


#workspaces button {
background: transparent;
    color: white;
    box-shadow: none;
	text-shadow: none;
    transition: 0.2s ease;
    padding-left: 7px;
    padding-right: 7px;
    animation: ws_normal 20s ease-in-out 1;
}



#workspaces button.active {
    background-color: white;
    color: black;   
    transition: all 0.3s ease;
    border-radius: 1px;
    padding-left: 8px;
    padding-right: 8px;
}

#workspaces button:hover {
    background: white;
    color: #72D792;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
    border-radius: 1px;
}

#tray menu * {
    min-height: 16px;
    font-weight: bold;
    font-size: 13px;
    color: #9488e3;
}

#tray menu separator {
    min-height: 10px
}


#custom-spacer{
opacity: 0.0;
}
#custom-smallspacer{
opacity: 0.0;
}

#custom-clock{
    color: white;
    font-size: 15px;
    font-weight: 900;
    font-family: "JetBrains Mono Nerd Font";
    margin: 3px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

#power-profiles-daemon{
    color: white;
    font-size: 20px;
    font-weight: 900;
    font-family: "JetBrains Mono Nerd Font";
    margin: 3px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

#custom-powermenu{
    color: white;
    font-size: 21px;
    font-weight: 900;
    font-family: "JetBrains Mono Nerd Font";
    margin: 3px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 20px;
    border: none;
}

#battery{
    color: white;
    font-size: 20px;
    font-weight: 900;
    font-family: "JetBrains Mono Nerd Font";
    margin: 3px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 14px;
    border: none;
}

#custom-bluetooth{
    color: white;
    font-size: 20px;
    font-weight: 900;
    font-family: "JetBrains Mono Nerd Font";
    margin: 3px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 18px;
    border: none;
}

#network{
    color: white;
    font-size: 18px;
    font-weight: 900;
    font-family: "JetBrains Mono Nerd Font";
    margin: 3px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 21px;
    border: none;
}

#wireplumber{
    color: white;
    font-size: 18px;
    font-weight: 900;
    font-family: "JetBrains Mono Nerd Font";
    margin: 3px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 20px;
    border: none;
}

#window{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "JetBrains Mono Nerd Font";
    margin: 3px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 15px;
    border: none;
}

#custom-tray{
    color: white;
    font-size: 15px;
    font-weight: 900;
    font-family: "JetBrains Mono Nerd Font";
    margin: 3px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 20px;
    border: none;
}

#custom-volume{
    color: white;
    font-size: 15px;
    font-weight: 900;
    font-family: "JetBrains Mono Nerd Font";
    margin: 3px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 20px;
    border: none;
}

#custom-brightness{
    color: white;
    font-size: 15px;
    font-weight: 900;
    font-family: "JetBrains Mono Nerd Font";
    margin: 3px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 10px;
    border: none;
}

#tray{
    color: white;
    font-size: 1px;
    font-weight: 900;
    font-family: "JetBrains Mono Nerd Font";
    margin: 3px 0px 0px 0px;
    padding-left: 5px;
    padding-right: 25px;
    border: none;
}

#mpris{
color: white;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}

#tray,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#mpris{
font-size: 15px;
font-weight: bold
}
#custom-rr_end {
font-weight: normal;
    color: #E8EDF0;
    background:  rgba(23, 23, 23, 0.0);
    opacity: 1;
    margin: 0px 0px 0px 0px;
    padding-left: 4px;
    padding-right: 4px;
  ;
    
}

#battery.charging, #battery.plugged {
	color: #E8EDF0;
	
}


#battery.critical:not(.charging) {
    color: red;
}


#taskbar {
    padding: 1px;
}

#custom-r_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 1px;
    padding-left: 3px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 1px;
    padding-left: 3px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 1px;
    padding-left: 3px;
}

