/*-----All Colors--------*/

@define-color background #000000;

@define-color error #ffffff;
@define-color error_container #000000;

@define-color inverse_on_surface #000000;
@define-color inverse_primary #000000;
@define-color inverse_surface #ffffff;

@define-color on_background #ffffff;

@define-color on_error #000000;
@define-color on_error_container #ffffff;

@define-color on_primary #000000;
@define-color on_primary_container #ffffff;
@define-color on_primary_fixed #000000;
@define-color on_primary_fixed_variant #000000;

@define-color on_secondary #000000;
@define-color on_secondary_container #ffffff;
@define-color on_secondary_fixed #000000;
@define-color on_secondary_fixed_variant #000000;

@define-color on_surface #ffffff;
@define-color on_surface_variant #ffffff;

@define-color on_tertiary #000000;
@define-color on_tertiary_container #ffffff;
@define-color on_tertiary_fixed #000000;
@define-color on_tertiary_fixed_variant #000000;

@define-color outline #ffffff;
@define-color outline_variant #ffffff;

@define-color primary #ffffff;
@define-color primary_container #000000;
@define-color primary_fixed #ffffff;
@define-color primary_fixed_dim #ffffff;

@define-color scrim #000000;

@define-color secondary #ffffff;
@define-color secondary_container #000000;
@define-color secondary_fixed #ffffff;
@define-color secondary_fixed_dim #ffffff;

@define-color shadow #000000;

@define-color source_color #ffffff;

@define-color surface #000000;
@define-color surface_bright #000000;

@define-color surface_container #000000;
@define-color surface_container_high #000000;
@define-color surface_container_highest #000000;
@define-color surface_container_low #000000;
@define-color surface_container_lowest #000000;

@define-color surface_dim #000000;
@define-color surface_tint #ffffff;

@define-color surface_variant #000000;

@define-color tertiary #ffffff;
@define-color tertiary_container #000000;
@define-color tertiary_fixed #ffffff;
@define-color tertiary_fixed_dim #ffffff;
