@define-color dummy #000000;

/* Accent */
@define-color accent_color #000000;
@define-color accent_bg_color #000000;
@define-color accent_fg_color #ffffff;

/* States */
@define-color destructive_color #ffffff;
@define-color destructive_bg_color #000000;
@define-color destructive_fg_color #ffffff;

@define-color success_color #ffffff;
@define-color success_bg_color #000000;
@define-color success_fg_color #ffffff;

@define-color warning_color #ffffff;
@define-color warning_bg_color #000000;
@define-color warning_fg_color #ffffff;

@define-color error_color #ffffff;
@define-color error_bg_color #000000;
@define-color error_fg_color #ffffff;

/* Window */
@define-color window_bg_color #000000;
@define-color window_fg_color #ffffff;

/* View */
@define-color view_bg_color #000000;
@define-color view_fg_color #ffffff;

/* Headerbar */
@define-color headerbar_bg_color #000000;
@define-color headerbar_fg_color #ffffff;
@define-color headerbar_border_color #000000;
@define-color headerbar_backdrop_color #000000;
@define-color headerbar_shade_color #000000;

/* Cards / dialogs */
@define-color card_bg_color #000000;
@define-color card_fg_color #ffffff;
@define-color card_shade_color #000000;

@define-color dialog_bg_color #000000;
@define-color dialog_fg_color #ffffff;

@define-color popover_bg_color #000000;
@define-color popover_fg_color #ffffff;

/* Sidebar */
@define-color sidebar_bg_color #000000;
@define-color secondary_sidebar_bg_color #000000;
@define-color sidebar_backdrop_color #000000;
@define-color secondary_sidebar_backdrop_color #000000;

/* Misc */
@define-color shade_color #000000;
@define-color scrollbar_outline_color #ffffff;

/* Widgets */
.navigation-sidebar {
  background-color: #000000;
  color: #ffffff;
}

/* Headerbar spacing */
headerbar.default-decoration {
  margin-bottom: 50px;
  margin-top: -100px;
}

/* Remove shadows */
window.csd,
window.csd decoration {
  box-shadow: none;
}
